.button {
  background-color: $grey-100-color;
  width: 100%;
  color: $grey-0-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 18px;
  border: 0;
  border-radius: 40px;
  cursor: pointer;

  @media (min-width: $breakpoint-desktop) {
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 40px;
  }
}