.selector {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: center;
  }

  .option {
    color: $neutrals-700-color;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: $breakpoint-desktop) {
      width: 208px;
    }

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      @media (min-width: $breakpoint-desktop) {
        flex-direction: column;
        align-items: start;
      }

      &__icon {
        width: 2rem;
        height: 2rem;

        @media (min-width: $breakpoint-desktop) {
          width: 48px;
          height: 48px;
        }
      }

      &__text {
        font-size: 20px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: -0.2px;
      }
    }

    &__text {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
  }
}
