@font-face {
  font-family: 'BR Sonoma Regular';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Regular'), url('/fonts/BRSonoma-Regular-BF654c45266c042.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Regular Italic'), url('/fonts/BRSonoma-RegularItalic-BF654c452681c11.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Thin';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Thin'), url('/fonts/BRSonoma-Thin-BF654c45255ffe0.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Thin Italic'), url('/fonts/BRSonoma-ThinItalic-BF654c45268d3f9.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma ExtraLight'), url('/fonts/BRSonoma-ExtraLight-BF654c45265af8d.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma ExtraLight Italic'), url('/fonts/BRSonoma-ExtraLightItalic-BF654c4525a5046.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Light';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Light'), url('/fonts/BRSonoma-Light-BF654c452608e0f.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Light Italic'), url('/fonts/BRSonoma-LightItalic-BF654c45266aa83.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Medium';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Medium'), url('/fonts/BRSonoma-Medium-BF654c45266edd1.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Medium Italic'), url('/fonts/BRSonoma-MediumItalic-BF654c45267d45f.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma SemiBold'), url('/fonts/BRSonoma-SemiBold-BF654c45268c340.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma SemiBold Italic'), url('/fonts/BRSonoma-SemiBoldItalic-BF654c452696350.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Bold';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Bold'), url('/fonts/BRSonoma-Bold-BF654c4526823f5.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Bold Italic'), url('/fonts/BRSonoma-BoldItalic-BF654c4525c9c27.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Black';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Black'), url('/fonts/BRSonoma-Black-BF654c4525506bf.woff') format('woff');
}
  

@font-face {
  font-family: 'BR Sonoma Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('BR Sonoma Black Italic'), url('/fonts/BRSonoma-BlackItalic-BF654c45268988e.woff') format('woff');
}