$grey-100-color: #03050F;
$grey-80-color: #2B304E;
$grey-30-color: #CCD1EE;
$grey-10-color: #F8F9FF;
$blue-berry-600-color: #4F4FFF;
$neutrals-700-color: #141938;
$neutrals-600-color: #7981B2;
$neutrals-0-color: #FFFFFF;

$sonoma-font: 'BR Sonoma Regular', sans-serif;
$lato-font: 'Lato', sans-serif;

$breakpoint-mobile: 480px;
$breakpoint-desktop: 768px;