// Importar parciales
@use 'mixins';

// Estilos globales
$primary-color: #3498db;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  color: $primary-color;
}

.button {
  @include mixins.rounded-corners;
  background: $primary-color;
}