.footer {
  background: $grey-100-color;
  padding: 2rem;
  margin: auto 0 0 0;

  .container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;

    .logo {
      &--mobile {
        display: block;
        
        @media (min-width: $breakpoint-desktop) {
          display: none;
        }
      }

      &--desktop {
        display: none;
        
        @media (min-width: $breakpoint-desktop) {
          display: block;
        }
      }
    }

    .separator {
      height: 1px;
      width: 100%;
      background: $grey-80-color;

      @media (min-width: $breakpoint-desktop) {
        display: none;
      }
    }

    .text {
      color: $grey-10-color;
      font-size: 12px;

      @media (min-width: $breakpoint-desktop) {
        font-size: 14px;
      }
    }
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  }
}